{% include "header.html" %}

<!-- Contact Cover  -->
<body>
  {% include "navbar.html" %}

  <section
    class="hero-cover"
    style="background-image: url(../static/images/contact-cover-2.jpg)"
  >
    <div class="container">
      <div class="hero-cover-content">
        <h1>Contáctanos</h1>
        <p>
          Completa nuestro formulario para enviarnos un mensaje y te
          responderemos lo antes posible.
        </p>
      </div>
    </div>
  </section>

  <!-- Hero end -->
  <!-- Main Content-->
  <section>
    <div class="container-wrapper">
      <div>
        <form
          id="contactForm"
          name="sentMessage"
          action="{{ url_for('contacto') }}"
          method="POST"
          class="form-box"
        >
          {{ form.hidden_tag() }}
          <div class="container-form">
            <div class="form-input-item">{{ form.firstname() }}<br /></div>
            <div class="form-input-item">{{ form.lastname() }}<br /></div>
            <div class="form-input-item">{{ form.email() }}<br /></div>
            <div class="form-input-item">{{ form.phone() }}<br /></div>
            <div class="message-box-item">{{ form.message() }}<br /></div>
            <div class="btn-item">{{ form.submit() }}</div>
          </div>
        </form>
      </div>
    </div>
  </section>

  {% include "footer.html" %}
</body>
