<!-- Footer -->
<div class="container-footer">
<footer class="footer-flex">
    <p>© 2023 Endorse Capital Services S.A de C.V.</p>
    <a href="/">
        <img src="./static/images/logo_d2.png" alt="symbol" >
    </a>
    <ul>
      <li><a href="{{ url_for('home') }}" >Inicio</a></li>
      <li><a href="{{ url_for('acerca') }}" >Acerca de</a></li>
      <li><a href="{{ url_for('blog') }}" >Blog</a></li>
      <li><a href="{{ url_for('contacto') }}" >Contacto</a></li>
    </ul>
</footer>
</div> 
    <!--  My JS  -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </div>
  </body>

</html>